.title {
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: rgb(145, 39, 39);
  margin-bottom: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-shadow: 4px 4px #070707;
  
}

.score {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
