* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/black-and-white-urban-city-lifestyle-background-of-new-york-city-buildings_hggiu7zqh__F0000.png")
}
